<!-- app/views/customers/index.html.erb -->
<section class="section">
  <div class="container">
    <h1 class="title">Customers</h1>

    <div class="columns is-multiline">
      <% @customers.each do |customer| %>
        <div class="column is-half">
          <%= render partial: "customer", locals: { customer: customer } %>
        </div>
      <% end %>
    </div>
  </div>
</section>
